[Unit]
Description=Run ISKCON Zoom recording scheduler every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=15s
Persistent=true
Unit=multistream-recording.service

[Install]
WantedBy=timers.target
